mat-expansion-panel {
  margin-bottom: 10px;
}
mat-panel-title {
  cursor: default;
}

mat-expansion-panel-header {
  cursor: default;
}
.mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: default;
}

mat-panel-title h1 {
  margin: 0px;
}

mat-panel-description {
  cursor: default;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: end;
  margin: 0px;
}

mat-panel-description span.controls {
}

section.sub-header span.controls button {
  margin-left: 10px;
}