<div class="page">
  <mat-expansion-panel class="sub-header" hideToggle [expanded]="showFilter" 
      (afterExpand)="setFilterFlag(true)" (afterCollapse)="setFilterFlag(false)">
    <mat-expansion-panel-header>
      <mat-panel-title (click)="headerClick($event)">
       <h2>{{ title }}</h2>
      </mat-panel-title>
      <mat-panel-description (click)="headerClick($event)">
        <span class="controls">
          <button mat-icon-button [color]="showFilter ? 'accent' : 'primary'" 
              (click)="filter($event)"
              aria-label="Filter">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button [color]="view === 'list' ? 'accent' : 'primary'" 
              (click)="viewList($event)" 
              aria-label="List View">
            <mat-icon>list-outlined</mat-icon>
          </button>
          <button mat-icon-button [color]="view === 'grid' ? 'accent' : 'primary'" 
              (click)="viewGrid($event)"
              aria-label="Tile View">
            <mat-icon>grid_view</mat-icon>
          </button>
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-content select="[filter]"></ng-content>
  </mat-expansion-panel>
  <ng-content *ngIf="view === 'list'" select="[list]"></ng-content>
  <ng-content *ngIf="view === 'grid'" select="[grid]"></ng-content>
</div>
