:host {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#homeLink {
  font-weight: bold;
  font-style: italic;
  font-size: 100%;
}

mat-toolbar span.spacer {
  flex: 1 1 auto;
}

mat-toolbar button.active::before {
  content: '[ ';
}
mat-toolbar button.active::after {
  content: ' ]';
}

section.loading div{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  text-align: center;
  padding: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #757575;
  border-top: 1px solid #212121;
  padding: 2px 0px;
}

footer > img {
  height: 30px; 
  max-width: auto;
}

footer > span {
  color: white;
  padding-right: 10px;
}