<app-list-page title="Venues"
  (filterToggled)="filterVenuesToggled($event)"
  (listClicked)="showVenuesList()"
  (gridClicked)="showVenuesGrid()">
  <ng-container filter>
    <form [formGroup]="filterForm">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input #filter matInput
          formControlName="text" >
      </mat-form-field>
      <mat-checkbox formControlName="active">
        Show Only Active
      </mat-checkbox>
    </form>
  </ng-container>
  <!--The list view of venues-->
  <ng-container list>
    <app-venue-list></app-venue-list>
  </ng-container>
  
    <!--The grid/tile view of venues-->
  <ng-container grid>
    <app-venue-grid></app-venue-grid>
  </ng-container>
</app-list-page>