<app-list-page title="Venues"
  (filterToggled)="filterToggled($event)"
  (listClicked)="showList()"
  (gridClicked)="showGrid()">
  <ng-container filter>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input #filter matInput [value]="filterValue" (keyup)="filterUpdated($event)">
    </mat-form-field>
  </ng-container>
  <!--The list view of venues-->
  <ng-container list>
    <app-venue-list></app-venue-list>
  </ng-container>
  
    <!--The grid/tile view of venues-->
  <ng-container grid>venues grid</ng-container>
</app-list-page>